.link-biasa {
    color: #ff3d00;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

.link-biasa:hover {
    color: #e66f00;
    text-decoration: underline;
}

.link-button {
    color: #fff;
    background: #1876c2;
    font-size: 15px;
    margin-top: 100px;
    padding: 10px;
    text-decoration: none;
}

.link-button:hover {
    background: #2196f3;
}