h1{ 
    color: orange;
    font-family: "Segoe UI";
}

.kotak{
    padding: 50px;
    width: 100px;
    height: 50px;
    margin: 10px; 
    float: left; 
    background:#0288d1;
    color: #fff;
}

 .ungu {
    background: plum; 
}

.oranje {
    background: orange;
}

#pink{
    background: pink;
    color: darkgray;
}